.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(img/login.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;

}


.login-elements{
background-color: white;
    height: 550px;
    width: 450px;
box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.7) , 0 5px 20px 0 rgba(0, 0, 0, 0.7) ;

}


.login-form{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
}


input{
    width: 300px;
    height: 8px;
    padding: 20px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1) , 0 5px 20px 0 rgba(0, 0, 0, 0.1) ;
    border-radius: 20px;
    margin: 10px;
    border: none;
}

button{
    background-color: var(--primare);
    cursor: pointer;
    font-size: 19px;
    padding: 10px 0;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 20px;
}

button:hover{
    background-color: var(--gri);
    transition: 0.5s;
}

.pallogari{
    cursor: pointer;
}

.pallogari:hover{
 background-color: white;
}

.error-message{
    color: red;
    text-align: right;
}

