.Regjistrohu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(img/login.jpg) ;


}


.Regjistrohu-elemnts{
background-color: white;
    height: 650px;
    width: 850px;
box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.7) , 0 5px 20px 0 rgba(0, 0, 0, 0.7) ;
}


.regjistrohu-form{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
}


input{
    width: 300px;
    height: 8px;
    padding: 20px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1) , 0 5px 20px 0 rgba(0, 0, 0, 0.1) ;
    border-radius: 20px;
    margin: 10px;
    border: none;
}


.submit-button:hover{
    background-color: var(--gri);
    color: var(--primare);
    transition: 0.5s;
}

#send-button:hover{
    background-color: var(--gri);
    transition: 0.5s;
}

#send-button{
    background-color: var(--primare);
    cursor: pointer;
    font-size: 19px;
    padding: 10px 0;
    width: 110px;
    height: 50px;

}

.pallogari{
    cursor: pointer;
}

.pallogari:hover{
 background-color: white;
}


