body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root { /* vetia e cila krijon variable */
    --bardhe: white;
    --zi:black;
    --primare: #ff891b;
    --sekondare: #484848;
    --gri: #ddd;
    --grierret: #777777;
}


.zone{
    background-color: var(--sekondare) ;
    font-size: 2em;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

}

.main-nav{
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin: 0px;
}

li{
    padding: 20px;

}

ul li a{
    color: white;
    text-decoration: none;
    padding: 4px 8px;

}

.push{
    margin-left: auto;
}

@media (max-width: 950px) {
    .main-nav{
        font-size: 0.3em;
        padding: 0;
    }
    li{
        padding: 15px;
    }
}

a:hover{
    background: var(--grierret);
    transition: 0.5s;
}

.container{
    padding: 0 200px;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image:
    url(img/pexels-photo-7060815.png);
    background-size: 100% 100%;
}

.title{
    font-size: 120px;
    color: white;
    font-weight: 100;
    margin-bottom: 35px;
    padding: 0px 90px 0px 90px;
    text-align: center;
}

.button-hero{
    display: flex;
    margin: auto;
    padding:13px 50px;
    background-color: var(--gri);
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: black;
    cursor: pointer;

}

.button-hero:hover{
    background-color: var(--primare);
    transition: 0.5s;
}

@media (max-width: 800px) {
.title{
    font-size: 80px;
}
.hero{
    height: 70vh;
}

}




.deget-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.deget-elements h1{
    font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

@media (max-width: 800px) {
    
    .deget-elements h1{
       font-size: 16px;
       
    }
    .deget-elements p{
        font-size: 8px;
    }


    .projektet-elements p{
        font-size: 8px;
    }


}

.deget-elements img:hover{
    transform: scale(1.1);
}

.produkti-javes{
    margin-top: 50px;
    width: 100%;
    height: 500px;
    background-color: var(--primare);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.BENTLEY{
    width: 450px;
}

h3{
    font-size: 45px;
    color: white;
}

@media (max-width: 800px) {
    .BENTLEY{
        width: 200px;
    }

    h3{
        font-size: 40px;
    }
}


.projektet-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projektet-img img{
    width: 450px;
    height: 300px;
    margin: 10px;
    border: 1px black solid;
}

.projektet-img img:hover{
    transform: scale(1.1);
}



.projektet-elements h1{
    font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}



.dimension-calculation{
    display: flex;
    justify-content: center;
    margin: 70px 0px 0 0;
    background-color: rgba(220, 220, 220, 0.295);
    padding-bottom: 40px;
}

.dimension-calculation h1{
    font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.calculator{
    display: inline-grid;

}

.calculator input{
    padding: 10px;
    font-size: 20px;
    border: 2px solid var(--primare);
    border-radius: 5px;
    width: 100%;
}

.calculator label{
    font-size: 23px;
    padding: 10px 0px;
}

.calculator img{
    max-width: 650px;
    margin: 40px auto;

}

.calculator span{
    font-size: 20px;
}



.footer{
    display: flex;
    justify-content:space-between;
    background-color: var(--grierret);
}

.footer-divs{
    display: flex;
    justify-content: space-around;
    margin-left: 20%;
    
    
   
}

.footer-divs a{
    color: black;
}


.nav-pages{
    margin: 0 50% 0 0;
}

.login-pages{
    margin: 0 50% 0 0;
}


.socialMedia-icon{
    display: flex;
    align-items: center;
    margin-right: 20%;
}

.socialMedia-icon img{
    width: 30px;
    padding-right: 20px;
    
}


.under-footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--sekondare)
}

.under-footer a{
    color: black;
}


@media (max-width: 900px) {
    .nav-pages{
        margin: 0 20% 0 0;
    }
    
    .login-pages{
        margin: 0 20% 0 0;
    }

    .footer-divs{
        margin-left:15%;   
        font-size: 8px;
    }

    .socialMedia-icon img{
        width: 20px;
        padding-right: 5px;
        
    }

    .under-footer {
        font-size: 10px;
    }
    .under-footer label{
        font-size: 10px;
    }


}


.parteret{
    margin: 50px 0;
}

.parteret h1{
font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.partner-div{
    display: flex;
    justify-content: space-around;
    align-items: center;

    border: 1px var(--grierret) solid;
    
}

.partner-div button{
display: flex;
    padding:13px 50px;
    background-color: var(--gri);
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: black;
    cursor: pointer;
    }


.partner-div button:hover{
    background-color: var(--primare);
    transition: 0.5s;
}



@media (max-width: 800px) {
    
    .parteret h1{
        font-size: 16px;
        }

    .projektet-elements h1{
        font-size: 16px;
    }

    .dimension-calculation p{
        font-size: 8px;
    }

    .dimension-calculation h1{
        font-size: 16px;
    }

    .calculator input{
        width: 300px;
    }

    .calculator img{
        width: 300px;
    }

    .partner-div{
     border: none;
        
    }

    .partner-div button{
        font-size: 8px;
        padding:6px 25px;
    }




}



